<div class="alert alert-info" *ngIf="!pais; else paisInfo">
    Espere por favor...
</div>

<ng-template #paisInfo>
    <div class="row">
        <div class="col-12">
            <h1>
                País: <small>{{pais.name.common}}</small>
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <h3>Bandera</h3>
            <img [src]="pais.flags.svg" class="img-thumbnail" alt="{{pais.flags.alt}}">
        </div>
        <div class="col-3">
            <h3>Información</h3>
            <ul class="list-group">
                <li class="list-group-item">
                    <strong>Población</strong> {{pais.population | number}}
                </li>
            </ul>

        </div>
    </div>
</ng-template>