<div class="alert alert-info" *ngIf="!pais; else paisInfo">
    Espere por favor...
</div>

<ng-template #paisInfo>
    <div class="row">
        <div class="col-12">
            <h1>
                País: <small>{{pais.name.common}}</small>
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <h3>Bandera</h3>
            <img [src]="pais.flags.svg" class="img-thumbnail" alt="{{pais.flags.alt}}">
        </div>
        <div class="col-3">
            <h3>Información</h3>
            <ul class="list-group">
                <li class="list-group-item">
                    <strong>Población</strong> {{pais.population | number}}
                </li>
                <li class="list-group-item">
                    <strong>Código numérico:</strong> {{pais.ccn3}}
                </li>
                <li class="list-group-item">
                    <strong>Código alpha:</strong> {{pais.cca3}}
                </li>
            </ul>
        </div>
    </div>

    <h3>Traducciones:</h3>
    <div class="row">
        <div class="col">
            <span class="badge bg-primary mr-1"> {{pais.translations['jpn'].common}}</span>
            <span class="badge bg-primary mr-1"> {{pais.translations['jpn'].common}}</span>
            <span class="badge bg-primary mr-1"> {{pais.translations['fra'].common}}</span>
            <span class="badge bg-primary mr-1"> {{pais.translations['pol'].common}}</span>
            <span class="badge bg-primary mr-1"> {{pais.translations['swe'].common}}</span>
            <span class="badge bg-primary mr-1"> {{pais.translations['zho'].common}}</span>
            <span class="badge bg-primary mr-1"> {{pais.translations['hun'].common}}</span>
            <span class="badge bg-primary mr-1"> {{pais.translations['kor'].common}}</span>
            <span class="badge bg-primary mr-1"> {{pais.translations['ara'].common}}</span>
        </div>
    </div>
    <!-- <pre class="mt-5">
        {{ pais | json }}
    </pre> -->
</ng-template>